body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.recipeImage {
  width: 250px;
  height: 200px;
  margin-left: 10px
}

.directions {
  width: 300px;
}

.FavCard {
  margin-right: 0%;
  display: table;
}

.review {
  margin-right: 0%;
  display: table;
}

.reveiwPara {
  width: 300px;
}

.RecipeCard {
  margin-right: 0%;
  display: table
}

body {
  background-image: url("https://images.freeimages.com/images/large-previews/727/pizza-2-1326533.jpg")
}